.board{
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.board-row{
    display: inline-flex;
    margin-top: -1px;
}
.square{
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 2px black;

    margin-left: -1px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100px;
}